* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
a {
  color: inherit;
}
select:focus,
input:focus {
  outline: none;
}

body {
  background-color: #0b0b11;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.header {
  width: 1240px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  &__logo {
    width: 30%;
  }
}
.main {
  width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__form {
    width: 1240px;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    margin-bottom: 30px;
  }
}
.form {
  &__label {
    font-size: 18px;
    &.ancestry {
      margin: 0 10px;
    }
  }
  &__input {
    margin: 10px;
    border-radius: 5px;
    font-size: 18px;
    width: 350px;
    font-family: rubik;
    padding: 5px;
    border: none;
    background-color: white;
    color: black;
    font-family: "Roboto", sans-serif;
    &.select {
      width: 175px;
    }
  }
  &__searchIcon {
    font-size: 22px;
    color: white;
    padding: 5px;
  }
  &__checkbox {
    margin: 0px 5px;
  }
  &__ancestry--container {
    display: flex;
  }
}

.character__list {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.character {
  &__preview {
    width: 275px;
    height: 375px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 5px;
    &:hover {
      transform: scale(1.01);
      border: 2px solid #005cc8;
      border-radius: 5px;
    }
  }
  &__errorMessage {
    margin-top: 30px;
    font-size: 18px;
  }
}
.preview {
  &__image {
    width: 200px;
    height: 275px;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 37px;
  }
  &__text {
    width: 220px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__title {
    height: 15px;
    margin-top: 10px;
  }
  &__species {
    height: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
.button {
  margin: 5px;
  border-radius: 5px;
  background-color: #005cc8;
  font-family: inherit;
  font-size: 16px;
  height: 35px;
  width: 130px;
  padding: 5px;
  border: none;
  color: white;
  transition: all 0.1s linear;
  &:hover {
    background-color: #297edf;
  }
}
.character__detail {
  width: 520px;
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #005cc8;
  border-radius: 5px;
  margin-top: 30px;
  & .preview__image {
    margin-top: 0;
  }
  &--text {
    display: block;
    margin: 10px 0;
    font-size: 18px;
  }
  &--back {
    width: 520px;
    display: flex;
    margin: 20px 0 0 5px;
    &Text {
      height: 50px;
      line-height: 50px;
      font-size: 18px;
    }
  }
  &--icon {
    background-color: white;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    font-size: 24px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.1);
    }
    &SM {
      height: 20px;
      width: 20px;
      margin-left: 10px;
    }
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  &--icon {
    cursor: pointer;
    position: fixed;
    right: 22%;
    bottom: 2%;
    background-color: white;
    height: 50px;
    width: 50px;
    font-size: 24px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    transition: all 0.2s linear;
    &:hover {
      transform: scale(1.1);
    }
  }
}
