@import "core/reset";
@import "core/mixins";

body {
  background-color: #0b0b11;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include desktop {
    width: 1250px;
  }
  &__character--list {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include tablet {
      flex-direction: row;
    }
  }
}
